---
import img1 from "../assets/1.jpg";
import { Image } from "astro:assets";
---

<section class="container mx-auto my-5 md:my-8">
    <div class="flex justify-center md:justify-start md:ms-5">
      <div class="flex bg-white rounded-t-lg transition p-1.5 border border-t-indigo-600 border-x-indigo-600 dark:bg-gray-700 dark:hover:bg-gray-600">
        <ul class="flex space-x-2" aria-label="Tabs" role="tablist">
          <button type="button" class="hs-tab-active:bg-indigo-100 hs-tab-active:text-indigo-500 hs-tab-active:dark:bg-gray-800 hs-tab-active:dark:text-gray-400 dark:hs-tab-active:bg-gray-800 py-2.5 px-4 inline-flex items-center gap-x-1.5 bg-gray-100 text-xs text-gray-500 hover:text-gray-700 font-medium rounded-lg hover:hover:text-indigo-500 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-white active" id="segment-item-1" data-hs-tab="#segment-1" aria-controls="segment-1" role="tab">
            Special Offer
          </button>
          <button type="button" class="hs-tab-active:bg-indigo-100 hs-tab-active:text-indigo-500 hs-tab-active:dark:bg-gray-800 hs-tab-active:dark:text-gray-400 dark:hs-tab-active:bg-gray-800 py-2.5 px-4 inline-flex items-center gap-x-1.5 bg-gray-100 text-xs text-gray-500 hover:text-gray-700 font-medium rounded-lg hover:hover:text-indigo-500 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-white" id="segment-item-2" data-hs-tab="#segment-2" aria-controls="segment-2" role="tab">
            Free Assets
          </button>
          <button type="button" class="hs-tab-active:bg-indigo-100 hs-tab-active:text-indigo-500 hs-tab-active:dark:bg-gray-800 hs-tab-active:dark:text-gray-400 dark:hs-tab-active:bg-gray-800 py-2.5 px-4 inline-flex items-center gap-x-1.5 bg-gray-100 text-xs text-gray-500 hover:text-gray-700 font-medium rounded-lg hover:hover:text-indigo-500 disabled:opacity-50 disabled:pointer-events-none dark:text-gray-400 dark:hover:text-white" id="segment-item-3" data-hs-tab="#segment-3" aria-controls="segment-3" role="tab">
            Vouchermu
          </button>
        </ul>
      </div>
    </div>

      <div id="segment-1" class="flex flex-col bg-white border border-indigo-600 shadow-sm rounded-xl p-4 md:p-5 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" aria-labelledby="segment-item-1">
        
        <h2 class="text-center text-3xl text-indigo-500 font-extrabold">🔥 Promo Ramadan 🔥</h2>
        
        <!-- Card Blog -->
        <div class="max-w-[85rem] sm:px-6 lg:px-8 lg:py-14 mx-auto mt-3">
          <!-- Grid -->
          <div class="grid grid-cols-2 md:grid-cols-2 gap-3 md:gap-6">
            <!-- Card -->
            <div class="group flex flex-col h-full bg-white border border-t-4 border-t-indigo-400 shadow-md rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
              <div class="flex flex-col justify-center items-center rounded-xl m-2 md:m-4">
                <Image class="w-full object-cover h-auto rounded-xl" loading="eager" src={img1} alt="Description">
              </div>
              <div class="pb-2 px-4 md:px-6 md:py-0">
                <span class="block mb-1 text-base font-semibold dark:text-blue-500">
                  Aset Ayat Alquran
                </span>
                <h3 class="text-xl mt-1 font-semibold text-indigo-500 dark:text-gray-300 dark:hover:text-white">
                  Rp. 50.000
                </h3>
                <p class="text-gray-400 text-sm">
                  <s>Rp.100.000</s><span class="text-red-400 font-semibold"> 50%</span>
                </p>
                <p class="mt-2 text-gray-600 text-sm">
                  	⭐ 5+ | 9rb Terbantu
                </p>
              </div>
              <button type="button" class="mt-2 mb-3 mx-auto py-2 px-5 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-indigo-500 text-white hover:bg-indigo-600 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                Miliki
              </button>
            </div>
            <!-- End Card -->
            <!-- Card -->
            <div class="group flex flex-col h-full bg-white border border-t-4 border-t-indigo-400 shadow-md rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]">
              <div class="flex flex-col justify-center items-center rounded-xl m-2 md:m-4">
                <Image class="w-full object-cover h-auto rounded-xl" loading="eager" src={img1} alt="Description">
              </div>
              <div class="pb-2 px-4 md:px-6 md:py-0">
                <span class="block mb-1 text-base font-semibold dark:text-blue-500">
                  Aset Ayat Alquran
                </span>
                <h3 class="text-xl mt-1 font-semibold text-indigo-500 dark:text-gray-300 dark:hover:text-white">
                  Rp. 50.000
                </h3>
                <p class="text-gray-400 text-sm">
                  <s>Rp.100.000</s><span class="text-red-400 font-semibold"> 50%</span>
                </p>
                <p class="mt-2 text-gray-600 text-sm">
                  	⭐ 5+ | 9rb Terbantu
                </p>
              </div>
              <button type="button" class="mt-2 mb-3 mx-auto py-2 px-5 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-lg border border-transparent bg-indigo-500 text-white hover:bg-indigo-600 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                Miliki
              </button>
            </div>
            <!-- End Card -->
          </div>
          <!-- End Grid -->
        </div>
        <!-- End Card Blog -->
      </div>
      
      <div id="segment-2" class="hidden flex-col bg-white border border-indigo-600 shadow-sm rounded-xl p-4 md:p-5 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" aria-labelledby="segment-item-2">
        
        <!-- Card Section -->
        <div class="w-full mx-auto">
          <!-- Grid -->
          <div class="grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 sm:gap-4">
            <!-- Card -->
            <a class="group flex flex-col bg-white border border-t-4 border-e-4 border-indigo-400 shadow-md rounded-xl hover:shadow-md transition dark:bg-slate-900 dark:border-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="/">
              <div class="p-2 md:p-3">
                <div class="flex justify-between items-center">
                  <div class="flex items-center">
                    <Image class="size-[38px] rounded-full" src={img1} alt="Description" />
                    <div class="ms-3">
                      <h3 class="group-hover:text-indigo-500 font-semibold text-gray-800 dark:group-hover:text-gray-400 dark:text-gray-200">
                        Bristol, UK
                      </h3>
                    </div>
                  </div>
                  <div class="ps-3">
                    <span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-xs font-medium bg-amber-500 text-white dark:bg-blue-800/30 dark:text-blue-500">Free</span>
                  </div>
                </div>
              </div>
            </a>
            <!-- End Card -->
        
            <!-- Card -->
            <a class="group flex flex-col bg-white border border-t-4 border-e-4 border-indigo-400 shadow-md rounded-xl hover:shadow-md transition dark:bg-slate-900 dark:border-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="/">
              <div class="p-2 md:p-3">
                <div class="flex justify-between items-center">
                  <div class="flex items-center">
                    <Image class="size-[38px] rounded-full" src={img1} alt="Description" />
                    <div class="ms-3">
                      <h3 class="group-hover:text-indigo-500 font-semibold text-gray-800 dark:group-hover:text-gray-400 dark:text-gray-200">
                        Oxford, UK
                      </h3>
                    </div>
                  </div>
                  <div class="ps-3">
                    <span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-xs font-medium bg-amber-500 text-white dark:bg-blue-800/30 dark:text-blue-500">Free</span>
                  </div>
                </div>
              </div>
            </a>
            <!-- End Card -->
        
            <!-- Card -->
            <a class="group flex flex-col bg-white border border-t-4 border-e-4 border-indigo-400 shadow-md rounded-xl hover:shadow-md transition dark:bg-slate-900 dark:border-gray-800 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600" href="/">
              <div class="p-2 md:p-3">
                <div class="flex justify-between items-center">
                  <div class="flex items-center">
                    <Image class="size-[38px] rounded-full" src={img1} alt="Description" />
                    <div class="ms-3">
                      <h3 class="group-hover:text-indigo-500 font-semibold text-gray-800 dark:group-hover:text-gray-400 dark:text-gray-200">
                        Edinburgh, UK
                      </h3>
                    </div>
                  </div>
                  <div class="ps-3">
                    <span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-lg text-xs font-medium bg-amber-500 text-white dark:bg-blue-800/30 dark:text-blue-500">Free</span>
                  </div>
                </div>
              </div>
            </a>
            <!-- End Card -->
        
          </div>
          <!-- End Grid -->
        </div>
        <!-- End Card Section -->
      </div>
      
      <div id="segment-3" class="hidden flex-col bg-white border border-indigo-600 shadow-sm rounded-xl p-4 md:p-5 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400" aria-labelledby="segment-item-3">
        <p class="text-gray-500 dark:text-gray-400">
          This is the <em class="font-semibold text-gray-800 dark:text-gray-200">third</em> item's tab body.
        </p>
      </div>
    
  </section>